.header-container{
    display: flex;
    align-items:  center;
    justify-content:  flex-end;
    margin-top: 15px;
    margin-right: 22px;
}

@media only screen and (max-width: 420px) {
    .header-container{
        margin-top: 7px;
        margin-right: 12px;
        margin-bottom: 10px;
    }
  }

  @media only screen and (max-width: 390px) {
 
  }

