*{
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
  background: #000000;
  

}


:root{
  --white:#FFFFFF;
  --black1:#000000;
  --black1:#000E09;
  --grey:	#808080;

  --green:#228B22;
  --red:#D22B2B;

}